.container {
  background: whitesmoke;
  max-width: 960px;
  margin: 10px auto;
  padding: 20px 70px;
}

.task-wrapper {
  background: #e5e5e5;
  padding: 10px 20px;
  margin-bottom: 1px;
}

.sendform {
  width: 100%;

  input,
  textarea {
    margin-bottom: 10px;
  }

  input {
    width: 350px;
  }

  textarea {
    width: 352px;
    height: 100px;
    padding: 5px;
  }
}
