extends layout

block cont
  div.container
    h2="PUG login!"
    div.task-wrapper
      form(method="post" action="/login")#loginForm.sendform
        input(type="text" placeholder="Email" name="email")
        br
        input(type="text" placeholder="Password" name="password")
        br
        button(type="submit")="Submit"
